# Node.js modules
node_modules/

# Environment variables (en producción, usa una variable de entorno real)


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependency directories (si usas cobertura en producción, no ignores coverage/)
coverage/

# Production files and builds (quita `build/` y `dist/` si contienen tu código compilado)
# build/
# dist/

# System files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
tmp/
temp/
.cache/
